span.etoile {
    color: red;
}

body {
    background-color: #0051ff;
}

#divmid {
    background-color: white;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#primal {
    background-color: #1D3786;
}

#second {
    background-color: #EFF4FB;
}

#third {
    background-color: #ED8607;
}

#textprimal {
    color: #1D3786;
}

#textsecond {
    color: #EFF4FB;
}

#textthird {
    color: #ED8607;
}

#annonce {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    margin: 11%;
    padding: 3%;
    margin-top: 3%;
    border-radius: 15px;
}

h2 {
    text-align: center;
    padding: 3%;
}

h3 {
    text-align: center;
    padding: 3%;
}

h5 {
    text-align: center;
}

#divannonce {
    margin-left: auto 3%;
    margin-right: auto 3%;
}

#ann {
    margin: 5%
}

.erreur {
    color : #1D3786;
    border: 10px #1D3786 ridge;
    padding: 0.5em;
}

a#textthird:hover{
    color: white;
    transition: all 300ms ease;
}